<% btn_colors = { 'import' => 'dark', 'update' => 'primary' } %>

<button
  type="button"
  class="btn <%= "btn-#{btn_colors[action]}" %> btn-sm shadow-none dataset-<%= action %>"
  data-id="<%= id %>"
  data-name="<%= name %>"
>
  <%= action.capitalize %>
</button>
<button
  type="button"
  class="<%= "btn btn-#{btn_colors[action]} btn-sm shadow-none dataset-#{action}-progress" %>"
  data-id="<%= id %>"
  data-name="<%= name %>"
  disabled
  style="display: none;"
>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
  >
  </span>
    <%= "#{action == 'import' ? 'Importing' : 'Updating'}..." %>
</button>
