<div class="col">
  <div class="card h-100">
    <div class="card-header">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <%= "#{dataset.display_name} (#{dataset.source})" %>
        </div>
        <div class="col-auto">
          <%= render 'action_button',
                id: dataset.id,
                name: dataset.name,
                action: dataset.fetched? ? 'update' : 'import'
          %>
        </div>
      </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">
          <%= number_to_human(dataset.total) %>
        </h5>
        <div class="card-text">
          <%= render 'alert', name: dataset.name, type: 'success' %>
          <%= render 'alert', name: dataset.name, type: 'danger' %>
          <p>
            With supporting text below as a natural lead-in to additional content.
          </p>
          <%= render 'progress', name: dataset.name %>
        </div>
      </div>
    <div class="card-footer">
      <div class="row justify-content-between">
        <div class="col">
          <small class="text-muted">
            Last updated <%= time_ago_in_words(dataset.updated_at) %>
          </small>
        </div>
        <div class="col text-end">
          <small class="text-muted">
            <%= dataset.file_md5sum %>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
