<% title = TitlePresenter.new(obj) %>

<div class="row justify-content-center">
  <div class="col">
    <div class="card ms-auto me-auto mb-3" style="max-width: 1040px;">
      <div class="row g-0">
        <%= render 'poster', uri: title.poster_uri %>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= title.name %>
            </h5>
            <div class="row align-items-center">
              <div class="col-auto pe-1">
                <span class="text-muted">
                  <%= title.release_year %>
                </span>
              </div>
              <div class="col-auto ps-1 pe-1" style="border-left: 1px grey solid">
                <span class="text-muted">
                  <%= title.runtime %>
                </span>
              </div>
              <div class="col-auto ps-1 pe-1" style="border-left: 1px grey solid">
                <span class="text-muted">
                  <%= title.genres %>
                </span>
              </div>
            </div>
            <%= render 'imdb_rating', title: title %>
            <div class="card-text">
              <%= render 'directors', directors: title.directors %>
              <%= render 'producers', producers: title.producers %>
              <%= render 'actors', actors: title.actors %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
